@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your container */
.container {
  position: relative;
  z-index: 0;
  /* Your other styles */
}

/* Pseudo-element for the gradient */
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to bottom left, #7dd3fc, #93c5fd, #7dd3fc);
  /* background-image: linear-gradient(
    to-bl,
    from-sky-400,
    via-blue-300,
    to-sky-400
  ); */
  opacity: 0;
  transition: opacity 1000ms;
  border-radius: inherit; /* Make sure the radius matches the container if needed */
}

/* Change the opacity of the gradient on hover */
.container:hover::before {
  opacity: 1;
}
